body {
  font-family: "Londrina Solid", cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  /* margin: 30px; */
  padding-left: 0;
  margin-top: 2pt;
  margin-bottom: 0;
}

img {
  width: 30%;
  height: 30%;
  margin-top: 25pt;
  margin-bottom: 15pt;
}

#box-1 {
  margin-bottom: 5%;
}

#box-0 {
  margin-bottom: 5%;
}

#box-0:hover {
  background-color: white;
  color: rgb(0, 104, 163);
  box-shadow: inset 0px 0px 0px 10px rgba(0, 104, 163, 1);
  cursor: pointer;
}

#box-1:hover {
  background-color: white;
  color: rgb(242, 107, 40);
  box-shadow: inset 0px 0px 0px 10px rgb(242, 107, 40);
  cursor: pointer;
}

#box-2:hover {
  background-color: white;
  color: rgb(255, 221, 23);
  box-shadow: inset 0px 0px 0px 10px rgb(255, 221, 23);
  cursor: pointer;
}

#box-3:hover {
  background-color: white;
  color: rgb(55, 185, 147);
  box-shadow: inset 0px 0px 0px 10px rgb(55, 185, 147);
  cursor: pointer;
}

#box-0::after {
  background-color: pink;
  color: rgb(0, 104, 163);
  border: 4px solid rgb(0, 104, 163);
}

li {
  border-style: hidden;
  width: 40%;
  height: 200px;
  /* margin: 10px; */
  margin-left: 7%;
  text-align: center;
  line-height: 140pt;
}

h1 {
  text-align: center;
  margin-bottom: 50pt;
  margin-top: -30pt;
  margin-left: 0pt;
}

h3 {
  text-align: center;
  margin-top: 100pt;
  font-size: 50pt;
  color: #f93b78;
}

div.question-info {
  font-size: 25pt;
}

/* .wrapper {
  display: flex;
  width: 700pt;
  height: 550pt;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-style: solid;
  border-width: auto;
} */
.flex-container {
  display: flex;
  justify-content: center;
}

#question-display {
  text-align: center;
  margin-bottom: 20pt;
  margin-top: 10pt;
}

#main-display {
  flex-flow: row wrap;
  width: 500pt;
}

#button-display {
  font-family: "Londrina Solid", cursive;
  font-size: 30pt;
  margin-left: 218pt;
  margin-top: 15pt;
  border: none;
  background-color: #f93b78;
  color: white;
  border-radius: 5pt;
}

#landing-page {
  display: flex;
  flex-flow: column;
  margin-top: 100pt;
}

form {
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

.user-input {
  margin-bottom: 10pt;
}

.add-user-btn {
  background-color: #f93b78;
  color: white;
  font-size: 30pt;
  font-family: "Londrina Solid", cursive;
  border-radius: 5pt;
  border: none;
  width: 204pt;
  height: 38pt;
  align-content: center;
}

.add-user-btn:hover {
  cursor: pointer;
}

.user-input {
  font-family: "Londrina Solid", cursive;
  border-radius: 5pt;
  width: 200pt;
  height: 33pt;
  font-size: 20pt;
  text-align: center;
}

li#box-0 {
  background-color: rgb(0, 104, 163);
  color: white;
}

li#box-1 {
  background-color: rgb(242, 107, 40);
  color: white;
}

li#box-2 {
  background-color: rgb(255, 221, 23);
  color: white;
}

li#box-3 {
  background-color: rgb(55, 185, 147);
  color: white;
}